body,
html {
  color: white;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

// theme colors
$turquoise: #00d1d0;
$green: #04ff80;
$text-gray: #777777;
$bg-footer: #f0f0f0;
$bg-sidebar: rgba(2, 2, 2, 0.902);

// media queries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// text colors
.text-gray {
  color: $text-gray !important;
}
.text-turquoise {
  color: $turquoise !important;
}
.text-green {
  color: $green !important;
}

// background colors
.bg-turquoise {
  background-color: $turquoise !important;
}
.bg-green {
  background-color: $green !important;
}
.bg-sidebar {
  background-color: $bg-sidebar !important;
}
.bg-footer {
  background-color: $bg-footer !important;
}
.bg-floater {
  background: url('../images/landing_page/black-bg.png');
}

// button
.btn-login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 2px 15px;
  border-radius: 5px;
  &:hover {
    color: black;
    background-color: $green;
    border: 2px solid $green;
  }
  @media screen and (min-width: $xl) {
    padding: 2px 60px;
    border-radius: 5px;
  }
}
.btn-apply {
  background-color: $green;
  border: 0px;
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
  &:hover {
    color: white;
    background-color: #00d1d0;
  }
}

h1,
h2 {
  font-family: 'Lexend Deca', sans-serif;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

// initialize page display//
// Wrapper
.wrapper {
  display: block;
  overflow: hidden;
}

// Sidebar
.sidebar {
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem 1rem 3rem;
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 2000;
  background: #333;
  color: white;
  font-size: 24px;
  font-family: 'Lexend Deca', sans-serif;
  transition: all 0.3s;
  text-align: left;
  &.active {
    right: 0;
  }
  .list-unstyled {
    padding-right: 3rem;
  }
  @media screen and (min-width: $xl) {
    padding: 60px 140px 60px 60px;
    width: 550px;
    right: -555px;
    font-size: 24px;
  }
}

// Content
.content {
  width: 100%;
  transition: all 0.3s;
}

.logo {
  height: 2rem;
  @media screen and (min-width: $xl) {
    height: 100%;
  }
}

.open-menu {
  img {
    height: 1.5rem;
  }
}

// slider

.banner {
  h1.page-title {
    font-size: 40px;
    margin-bottom: 2rem;
  }
  .slider-list {
    padding-top: 45px;
    .slidecontainer {
      width: 100%;
      position: relative;
      margin-bottom: 3rem;
      div {
        font-size: 12px;
      }
    }
    @media screen and (min-width: $xl) {
      padding: 45px 200px;
      padding-bottom: 40px;
      .slidecontainer {
        margin-bottom: 3rem;
        div {
          font-size: 11px;
        }
      }
    }
  }
  .model {
    position: relative !important;
    bottom: -15px;
  }
  @media screen and (min-width: $xl) {
    h1 {
      font-size: 55px;
      margin-bottom: 1.5rem;
    }
    .model {
      position: absolute !important;
      z-index: 1000;
      right: 55px;
      bottom: -270px;
    }
  }
}

// style slider
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 3px;
  background: $green;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  &:hover {
    opacity: 1;
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background: url(../images/landing_page/duration-btn.png);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background: url(../images/landing_page/duration-btn.png);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#amount.slider::-webkit-slider-thumb {
  background: url(../images/landing_page/amount-btn.png);
}

#amount.slider::-moz-range-thumb {
  background: url(../images/landing_page/amount-btn.png);
}

// style live value container
output {
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 90px;
  height: 30px;
  text-align: center;
  color: $turquoise;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  bottom: 120%;
  left: -35px;
  padding: 2px;
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }
}

// repayments
.repayments {
  background-color: rgba(0, 0, 0, 0.102);
  display: flex;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1.5rem 0;
  h4 {
    font-size: 24px;
    margin-bottom: 0;
  }
  p {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }
  @media screen and (min-width: $xl) {
    display: block;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 2rem 0;
    h4 {
      font-size: 30px;
      margin-bottom: 1rem;
    }
    p {
      font-size: 20px;
      margin-bottom: 0.5rem;
    }
  }
}
.reviews {
  bottom: -10px;
  overflow: hidden;
  .review-container {
    z-index: 1000;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    .container > .row {
      padding: 0;
      @media screen and (min-width: $xl) {
        padding: 0 200px;
      }
    }
  }
}

.bg-black {
  height: 260px;
  min-width: 100%;
}

.options-container {
  padding: 80px 0;
  a {
    opacity: 1;
    &:hover {
      zoom: 1.02;
    }
  }
  img {
    width: 120px;
  }
  .pricing-card-title {
    font-size: 25px;
    & + p {
      font-size: 24px;
    }
  }
  @media screen and (min-width: $xl) {
    padding: 60px 0;
    img {
      width: 140px;
    }
    .pricing-card-title {
      font-size: 30px;
      & + p {
        font-size: 22px;
      }
    }
  }
}

.freestyle-container {
  padding: 70px 0;
  h2 {
    font-size: 27px;
    padding: 0 2rem;
  }
  p {
    font-size: 22px;
    line-height: 1.2;
  }
  ul {
    font-size: 20px;
  }
  .freestyle-bg {
    position: absolute;
    z-index: 1000;
    bottom: -35px;
    left: 0;
    right: 0;
    max-width: 100%;
  }
  @media screen and (min-width: $xl) {
    padding: 80px 130px;
    h2 {
      font-size: 40px;
      padding: 0;
    }
    p,
    ul {
      font-size: 21px;
    }
    .freestyle-bg {
      bottom: -110px;
    }
  }
}

.eligibility-container {
  padding: 60px 0;
  .eligibility {
    padding: 0 2rem;
  }
  h3 {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
    font-size: 27px;
    margin-bottom: 1.5rem;
  }
  a {
    font-size: 18px;
    padding-left: 0.5rem;
  }
  li {
    margin-bottom: 1.5rem;
    img {
      width: 23px;
    }
  }
  table {
    width: 100%;
    font-size: 18px;
    color: $text-gray;
    margin-bottom: 0;
    tr :nth-child(2) {
      font-weight: 300;
    }
    td {
      border-top: 2px solid #bbbbbb;
      &.line-through {
        text-decoration: line-through;
      }
      &.lato-light {
        font-weight: lighter;
      }
    }
    th {
      font-size: 17px;
    }
  }
  @media screen and (min-width: $xl) {
    padding: 100px 0;
    h3 {
      text-align: left;
      font-size: 40px;
      margin-bottom: 2.5rem;
    }
    a {
      font-size: 25px;
      padding-left: 1rem;
    }
    li {
      margin-bottom: 1.5rem;
      img {
        width: auto;
      }
    }
    table {
      font-size: 24px;
      th {
        font-size: 17px;
      }
    }
  }
}

footer {
  padding: 50px 0;
  .footer-logo {
    width: 4rem;
  }
  ul > li img {
    width: 40px;
  }
  div {
    font-size: 14px;
    font-weight: 400;
  }
  @media screen and (min-width: $xl) {
    .footer-logo {
      width: auto;
    }
    ul > li img {
      width: auto;
    }
  }
}
