body,
html {
  color: white;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.text-gray {
  color: #777777 !important;
}

.text-turquoise {
  color: #00d1d0 !important;
}

.text-green {
  color: #04ff80 !important;
}

.bg-turquoise {
  background-color: #00d1d0 !important;
}

.bg-green {
  background-color: #04ff80 !important;
}

.bg-sidebar {
  background-color: rgba(2, 2, 2, 0.902) !important;
}

.bg-footer {
  background-color: #f0f0f0 !important;
}

.bg-floater {
  background: url("../images/landing_page/black-bg.png");
}

.btn-login {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 2px 15px;
  border-radius: 5px;
}

.btn-login:hover {
  color: black;
  background-color: #04ff80;
  border: 2px solid #04ff80;
}

@media screen and (min-width: 1200px) {
  .btn-login {
    padding: 2px 60px;
    border-radius: 5px;
  }
}

.btn-apply {
  background-color: #04ff80;
  border: 0px;
  color: black;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 900;
}

.btn-apply:hover {
  color: white;
  background-color: #00d1d0;
}

h1,
h2 {
  font-family: 'Lexend Deca', sans-serif;
}

a:hover {
  opacity: 0.6;
  text-decoration: none;
}

.wrapper {
  display: block;
  overflow: hidden;
}

.sidebar {
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem 1rem 3rem;
  position: fixed;
  top: 0;
  right: -100vw;
  z-index: 2000;
  background: #333;
  color: white;
  font-size: 24px;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left;
}

.sidebar.active {
  right: 0;
}

.sidebar .list-unstyled {
  padding-right: 3rem;
}

@media screen and (min-width: 1200px) {
  .sidebar {
    padding: 60px 140px 60px 60px;
    width: 550px;
    right: -555px;
    font-size: 24px;
  }
}

.content {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo {
  height: 2rem;
}

@media screen and (min-width: 1200px) {
  .logo {
    height: 100%;
  }
}

.open-menu img {
  height: 1.5rem;
}

.banner h1.page-title {
  font-size: 40px;
  margin-bottom: 2rem;
}

.banner .slider-list {
  padding-top: 45px;
}

.banner .slider-list .slidecontainer {
  width: 100%;
  position: relative;
  margin-bottom: 3rem;
}

.banner .slider-list .slidecontainer div {
  font-size: 12px;
}

@media screen and (min-width: 1200px) {
  .banner .slider-list {
    padding: 45px 200px;
    padding-bottom: 40px;
  }
  .banner .slider-list .slidecontainer {
    margin-bottom: 3rem;
  }
  .banner .slider-list .slidecontainer div {
    font-size: 11px;
  }
}

.banner .model {
  position: relative !important;
  bottom: -15px;
}

@media screen and (min-width: 1200px) {
  .banner h1 {
    font-size: 55px;
    margin-bottom: 1.5rem;
  }
  .banner .model {
    position: absolute !important;
    z-index: 1000;
    right: 55px;
    bottom: -270px;
  }
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 3px;
  background: #04ff80;
  outline: none;
  opacity: 0.9;
  -webkit-transition: 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background: url(../images/landing_page/duration-btn.png);
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 19px;
  height: 18px;
  border-radius: 50%;
  background: url(../images/landing_page/duration-btn.png);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

#amount.slider::-webkit-slider-thumb {
  background: url(../images/landing_page/amount-btn.png);
}

#amount.slider::-moz-range-thumb {
  background: url(../images/landing_page/amount-btn.png);
}

output {
  position: absolute;
  background: white;
  border-radius: 3px;
  width: 90px;
  height: 30px;
  text-align: center;
  color: #00d1d0;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  bottom: 120%;
  left: -35px;
  padding: 2px;
}

output::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid white;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  margin-top: -1px;
}

.repayments {
  background-color: rgba(0, 0, 0, 0.102);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  border-radius: 10px;
  padding: 1.5rem 0;
}

.repayments h4 {
  font-size: 24px;
  margin-bottom: 0;
}

.repayments p {
  font-size: 16px;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1200px) {
  .repayments {
    display: block;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 2rem 0;
  }
  .repayments h4 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  .repayments p {
    font-size: 20px;
    margin-bottom: 0.5rem;
  }
}

.reviews {
  bottom: -10px;
  overflow: hidden;
}

.reviews .review-container {
  z-index: 1000;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.reviews .review-container .container > .row {
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .reviews .review-container .container > .row {
    padding: 0 200px;
  }
}

.bg-black {
  height: 260px;
  min-width: 100%;
}

.options-container {
  padding: 80px 0;
}

.options-container a {
  opacity: 1;
}

.options-container a:hover {
  zoom: 1.02;
}

.options-container img {
  width: 120px;
}

.options-container .pricing-card-title {
  font-size: 25px;
}

.options-container .pricing-card-title + p {
  font-size: 24px;
}

@media screen and (min-width: 1200px) {
  .options-container {
    padding: 60px 0;
  }
  .options-container img {
    width: 140px;
  }
  .options-container .pricing-card-title {
    font-size: 30px;
  }
  .options-container .pricing-card-title + p {
    font-size: 22px;
  }
}

.freestyle-container {
  padding: 70px 0;
}

.freestyle-container h2 {
  font-size: 27px;
  padding: 0 2rem;
}

.freestyle-container p {
  font-size: 22px;
  line-height: 1.2;
}

.freestyle-container ul {
  font-size: 20px;
}

.freestyle-container .freestyle-bg {
  position: absolute;
  z-index: 1000;
  bottom: -35px;
  left: 0;
  right: 0;
  max-width: 100%;
}

@media screen and (min-width: 1200px) {
  .freestyle-container {
    padding: 80px 130px;
  }
  .freestyle-container h2 {
    font-size: 40px;
    padding: 0;
  }
  .freestyle-container p,
  .freestyle-container ul {
    font-size: 21px;
  }
  .freestyle-container .freestyle-bg {
    bottom: -110px;
  }
}

.eligibility-container {
  padding: 60px 0;
}

.eligibility-container .eligibility {
  padding: 0 2rem;
}

.eligibility-container h3 {
  font-family: 'Lexend Deca', sans-serif;
  text-align: center;
  font-size: 27px;
  margin-bottom: 1.5rem;
}

.eligibility-container a {
  font-size: 18px;
  padding-left: 0.5rem;
}

.eligibility-container li {
  margin-bottom: 1.5rem;
}

.eligibility-container li img {
  width: 23px;
}

.eligibility-container table {
  width: 100%;
  font-size: 18px;
  color: #777777;
  margin-bottom: 0;
}

.eligibility-container table tr :nth-child(2) {
  font-weight: 300;
}

.eligibility-container table td {
  border-top: 2px solid #bbbbbb;
}

.eligibility-container table td.line-through {
  text-decoration: line-through;
}

.eligibility-container table td.lato-light {
  font-weight: lighter;
}

.eligibility-container table th {
  font-size: 17px;
}

@media screen and (min-width: 1200px) {
  .eligibility-container {
    padding: 100px 0;
  }
  .eligibility-container h3 {
    text-align: left;
    font-size: 40px;
    margin-bottom: 2.5rem;
  }
  .eligibility-container a {
    font-size: 25px;
    padding-left: 1rem;
  }
  .eligibility-container li {
    margin-bottom: 1.5rem;
  }
  .eligibility-container li img {
    width: auto;
  }
  .eligibility-container table {
    font-size: 24px;
  }
  .eligibility-container table th {
    font-size: 17px;
  }
}

footer {
  padding: 50px 0;
}

footer .footer-logo {
  width: 4rem;
}

footer ul > li img {
  width: 40px;
}

footer div {
  font-size: 14px;
  font-weight: 400;
}

@media screen and (min-width: 1200px) {
  footer .footer-logo {
    width: auto;
  }
  footer ul > li img {
    width: auto;
  }
}
/*# sourceMappingURL=style.css.map */